.nav-items:hover 
{
  border-radius: 49px;
  color: black;
  padding: 5px;
  background-color: #fcadad;
  opacity: 0.6;
  transition: background-color 0.5s;  
} 
.nav-items
{
  text-decoration: none;
  border: 1.5px solid #D26C6C ;
  border-radius: 49px;
  color: black;
  padding: 5px;
}
.parent
{
  display: flex;
  flex-direction: row;
}
.logout
{

    padding-left:10px;
    padding-right:10px;
  background: transparent;
  cursor: pointer;
  text-decoration: none;
  border: 1.5px solid #D26C6C;
  border-radius: 49px;
  color: black;
  padding: 5px;
}
.logout:hover 
{
  color: black;
  font-weight: 700;
  padding: 5px;
  background-color: #fcadad;
  opacity: 0.6;
  transition: background-color 0.5s;  
} 
.logoutParent
{
  padding-left: 25px;
}